target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Database Files ###
# H2 Database files
**/*.mv.db
**/*.lock.db
**/*.trace.db
# Generic database files
**/*.db
**/*.sqlite
**/*.sqlite3

### Log Files ###
# All log files
*.log
**/*.log
# Rotated and suffixed log files
*.log.*
**/*.log.*
# Log directories
**/logs/
logs/
# Common log file patterns
**/*.out
**/*.err
# Application specific logs
application*.log
server*.log
access*.log
error*.log
.idea/AugmentWebviewStateStore.xml
